/**
 * Title:   Navigation, Menu and Buttons for Colorized, a MantisBT Stylesheet
 * Author:  Frank Bültge
 * Contact: frank@bueltge.de
 * URL:     https://github.com/bueltge/MantisBT-Colorized
 * 
 * Description: Navigation, Menu and Buttons for Colorized theme, Version >= 1.3*
 * 
 * @since   2009-04
 * @version 2016-03-16
 * @author  Frank Bültge <frank@bueltge.de>
 */

/**
 * @section Information bar, inlcude feed and project selector
 */
.info-bar {
	margin: 0.1em 0 1em 0;
}

/**
 * @section Navigation, menu
 */
.main-menu ul li {
	padding: 0 .75em .1em .8em;
	line-height: 1.9;
}
.main-menu ul li a {
	background: #f3f3f3;
	width: 100%;
	padding: .75em;
	border-radius: 0.2em;
}

.main-menu ul li > a#logout-link {
	border-right: 1px solid #bababa;
}

.main-menu ul li a {
	margin: 0 0 0 -10px !important;
}

.main-menu div#bug-jump {
	padding: 7px 5px 0 0;
}

select {
	padding: .2em .25em .25em .25em;
	border: 1px solid #bababa;
	margin: 0;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	font-size: 11px
	color: #333;
	outline: none;
	background-color: #ececec;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	background-image: -ms-linear-gradient(#f4f4f4, #ececec);
	background-image: -o-linear-gradient(#f4f4f4, #ececec);
	background-image: linear-gradient(#f4f4f4, #ececec);
	-moz-background-clip: padding; /* for Firefox 3.6 */
	background-clip: padding-box;
	border-radius: 0.2em;
	/* IE hacks */
	zoom: 1;
	*display: inline;
}

input, textarea, .main-menu ul li a {
	position: relative;
	overflow: visible;
	display: inline-block;
	padding: 0.5em 1em;
	border: 1px solid #bababa;
	margin: 0 .2em 0 0;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
	font-size: 11px;
	font-weight: 600;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	background-color: #ececec;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	background-image: -ms-linear-gradient(#f4f4f4, #ececec);
	background-image: -o-linear-gradient(#f4f4f4, #ececec);
	background-image: linear-gradient(#f4f4f4, #ececec);
	-moz-background-clip: padding; /* for Firefox 3.6 */
	background-clip: padding-box;
	border-radius: 0.2em;
	/* IE hacks */
	zoom: 1;
	*display: inline;
}
textarea {
	white-space: pre-wrap;
	overflow: auto;
	word-wrap: normal;
}
input:hover,
input:focus,
input:active,
.main-menu ul li a:hover,
.main-menu ul li a:focus,
.main-menu ul li a:active,
select:hover {
	border-color: #3072b3;
	border-bottom-color: #2a65a0;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #3c8dde;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
	background-image: -moz-linear-gradient(#599bdc, #3072b3);
	background-image: -o-linear-gradient(#599bdc, #3072b3);
	background-image: linear-gradient(#599bdc, #3072b3);
}

input:active,
.main-menu ul li a:active {
	opacity: 1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	border-color: #2a65a0;
	border-bottom-color: #3884cd;
	background-color: #3072b3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
	background-image: -moz-linear-gradient(#3072b3, #599bdc);
	background-image: -ms-linear-gradient(#3072b3, #599bdc);
	background-image: -o-linear-gradient(#3072b3, #599bdc);
	background-image: linear-gradient(#3072b3, #599bdc);
}

input[type="text"], 
input[type="password"], 
textarea {
  background: #ffffff;
  font-weight: 400;
  color: #646464;
  cursor: auto;
  text-shadow: none;
  text-align: left;
}

input[type="text"]:hover, 
input[type="text"]:focus, 
input[type="text"]:active, 
input[type="password"]:hover, 
input[type="password"]:focus, 
input[type="password"]:active, 
textarea:hover,
textarea:focus,
textarea:active {
  border-color: #3072b3;
  color: #3072b3;
}

/* overrides extra padding on button elements in Firefox */
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
