/**
 * Title:   Defaults for Colorized, a MantisBT Stylesheet
 * Author:  Frank Bültge
 * Contact: frank@bueltge.de
 * URL:     https://github.com/bueltge/MantisBT-Colorized
 * 
 * Description: Defaults for Colorized theme, Version >= 1.3*
 * 
 * @since   2009-04
 * @version 2016-03-16
 * @author  Frank Bültge <frank@bueltge.de>
 */
 
body {
	background-color: #ffffff;
	color: #000000;
	font-size: 10pt;
	margin: 6px 4px;
}
p.compact {
	margin: 0;
}
pre {
	margin-bottom: 0px;
	margin-top: 0px;
}
a {
}
a:active {
}
a:link {
}
a:visited {
}
a.subtle {
	color: blue;
	text-decoration: none;
}
a.resolved {
	text-decoration: line-through underline;
}
a > img {
	border: none;
}
form {
	display: inline;
}
input {
}
input.button {
}
input.button-small {
	font-size: 1em;
}
textarea {
}
textarea.width100 {
	width: 100%;
}
select {
}
select.width100 {
	width: 100%;
}
select.width20 {
	width: 20%;
}
span {
	font-size: 10pt;
}
span.print {
	font-size: 8pt;
}
span.required {
	color: #bb0000;
	font-size: 8pt;
}
span.small {
	font-size: 8pt;
	font-weight: normal;
}
span.bracket-link {
	white-space: nowrap;
}
table {
	border: none;
}
table td, table th {
	border: none;
	border-spacing: 0px;
}
table.hide {
	border: solid 0px #ffffff;
	width: 100%;
}
table.width100 {
	border: solid 1px #000000;
	width: 100%;
}
table.width90 {
	border: solid 1px #000000;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
table.width75 {
	border: solid 1px #000000;
	margin-left: 13%;
	margin-right: 13%;
	width: 74%;
}
table.width60 {
	border: solid 1px #000000;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
}
table.width50 {
	border: solid 1px #000000;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}
td,th {
	font-size: 10pt;
	padding: 4px;
	text-align: left;
}
td.center {
	text-align: center;
}
td.left {
	text-align: left;
}
td.right {
	text-align: right;
}
td.category, th.category {
	color: #000000;
	font-weight: bold;
	vertical-align: top;
}
td.category2, th.category2 {
	color: #000000;
	vertical-align: top;
}
td.overdue {
	background-color: #ff0000;
	color: #000000;
	font-weight: bold;
}
td.sticky-header {
	background-color: #999999;
}
td.width30, th.width30 {
	width: 30%;
}
td.col-1 {
	background-color: #d8d8d8;
	color: #000000;
}
td.col-2 {
	background-color: #e8e8e8;
	color: #000000;
}
td.form-title {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	text-align: left;
}
td.form-title-caps {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}
td.nopad {
	padding: 0px;
}
td.small-caption, th.small-caption {
	font-size: 8pt;
}
td.print {
	font-size: 8pt;
	padding: 2px;
	text-align: left;
}
td.print-category, th.print-category {
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px;
	text-align: right;
}
td.print-overdue {
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px;
}
td.print-bottom {
	border-bottom: 1px solid #000000;
}
td.print-spacer {
	background-color: #ffffff;
	color: #000000;
	font-size: 1pt;
	line-height: 0.1;
	padding: 0px;
}
td.print > a:link.user {
	color: black;
	text-decoration: none;
}
tr {
}
tr.spacer {
	background-color: #ffffff !important;
	color: #000000;
	height: 5px;
}
tr.row-1 {
	background-color: #d8d8d8;
	color: #000000;
}
tr.row-2 {
	background-color: #e8e8e8;
	color: #000000;
}
tr.row-category {
	color: #000000;
	font-weight: bold;
}
tr.row-category td {
	text-align: center;
}
tr.row-category2 {
	color: #000000;
}
tr.row-category-history {
	color: #000000;
	font-weight: bold;
}
tr.row-category-history td {
	text-align: left;
}
tr.vtop {
	vertical-align: top;
}
tr.vcenter {
	vertical-align: middle;
}
tr.print {
	vertical-align: top;
}
tr.print-category {
	color: #000000;
	font-weight: bold;
}
td.my-buglist-bug {
	width: 0;
}
td.my-buglist-description {
	vertical-align: top;
	width: 100%;
}
#buglist td, #buglist th {
	text-align: center;
}
#buglist .column-summary,
#buglist .column-description,
#buglist .column-steps-to-reproduce,
#buglist .column-additional-information {
	text-align: left;
}
tr.bugnote .bugnote-meta {
	color: #000000;
	font-weight: bold;
	line-height: 1.4;
	vertical-align: top;
	width: 25%;
}
tr.bugnote .bugnote-note {
	background-color: #e8e8e8;
	color: #000000;
	vertical-align: top;
	width: 75%;
}
tr.bugnote .time-tracked,
.time-tracking-total .time-tracked {
	font-weight: bold;
	margin: 0 0 1em;
	padding: 0;
}
.time-tracking-total {
	text-align: right;
}
#page-title {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}
#login-info {
	clear: both;
	display: block;
	float: left;
	line-height: 1em;
	padding: 2px 0;
	position: relative;
	z-index: 100;
}
#logged-anon-label, #login-link, #signup-link {
	float: left;
	font-size: 1em;
	margin: .25em;
	padding: 0em;
}
#logged-anon-label {
	padding: 0 .5em;
}
#login-link a, #signup-link a {
	padding: 0 .5em;
}
#login-link:before, #signup-link:before {
	content: '|';
}
#logged-in-label {
	float: left;
}
#logged-in-label:after {
	content: ':';
}
#logged-in-user {
	float: left;
	font-size: 1em;
	font-style: italic;
	margin: 0 .5em;
}
#logged-in-realname, #logged-in-accesslevel {
	font-size: 1em;
	margin: 0;
	padding: 0;
	z-index: 100;
}
#logged-in {
	display: block;
	float: left;
	font-size: .8em;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
}
#logged-in:before {
	content: '(';
}
#logged-in:after {
	content: ')';
}
#logged-in-realname:after {
	content: ' - ';
}
#rss-feed {
	float: right;
	margin: 0;
	padding: 0.2em 0;
	width: 16px;
	z-index: 0;
}
#project-selector-div {
	border: none;
	float: right;
	font-size: small;
	line-height: 1em;
	margin: 0 .5em 0 1em;
	padding: 0;
	text-align: right;
	z-index: 100;
}
#project-selector-div label {
	padding: .5em;
}
#project-selector-div label:after {
	content: ':';
}
#project-selector-div select {
	font-size: small;
	line-height: 1em;
}
#project-selector-div select {
	font-size: small;
	line-height: 1em;
}
#project-selector-div .button {
	font-size: small;
	line-height: 1em;
	margin: 0;
	padding: 0;
}
#current-time {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 20%;
}
.info-bar {
	font-size: small;
	margin: 0.1em 0 0.4em 0;
	padding: .2em 0;
}
.main-menu {
	background-color: #e8e8e8;
	border: 1px solid #999;
	float: left;
	padding: 0;
	width: 100%;
	z-index: 99;
}
.main-menu ul {
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: .25em;
	position: relative;
}
.main-menu ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: .15em 0;
	position: relative;
}
.main-menu ul li a {
	border-right: 1px solid #000;
	padding: 0 .9em;
	text-decoration: underline;
}
.main-menu ul li > a#logout-link {
	border-right: none;
}
.main-menu div#bug-jump {
	border: none;
	float: right;
	margin: 0;
	padding: 2px 0;
	position: relative;
	z-index: 100;
}
.main-menu input {
	font-size: 9pt;
}
#manage-menu,
#summary-menu,
#summary-submenu,
#manage-config-menu,
#manage-user-filter-menu,
#manage-tags-filter-menu,
#admin-menu {
	float: left;
	font-size: 1em;
	margin-bottom: 0.5em;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
#manage-menu {
	margin-top: 0.5em;
}
#manage-menu ul,
#manage-config-menu ul,
#summary-menu ul,
#summary-submenu ul,
#manage-user-filter-menu ul,
#manage-tags-filter-menu ul,
#admin-menu ul {
	clear: left;
	float: left;
	left: 50%;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
}
#manage-menu ul li,
#manage-config-menu ul li,
#summary-menu ul li,
#summary-submenu ul li,
#manage-user-filter-menu ul li,
#manage-tags-filter-menu ul li,
#admin-menu ul li {
	display: block;
	float: left;
	list-style: none;
	margin: .5em 0;
	padding: 0 .25em;
	position: relative;
	right: 50%;
}
#manage-menu ul a,
#manage-config-menu ul a,
#summary-menu ul a,
#summary-submenu ul a,
#account-menu ul a,
#doc-menu ul a,
#manage-user-filter-menu ul a,
#manage-tags-filter-menu ul a,
#admin-menu ul a {
	padding: 0 .25em;
	text-decoration: underline;
}
#manage-menu ul span,
#manage-config-menu ul span,
#summary-menu ul span,
#summary-submenu ul span,
#account-menu ul span,
#doc-menu ul span,
#manage-user-filter-menu ul span,
#manage-tags-filter-menu ul span,
#admin-menu ul span {
	padding: 0 .25em;
}
#account-menu, #doc-menu {
	top: 0;
}
#account-menu ul, #doc-menu ul {
	float: right;
	margin: 0 auto;
	padding: .25em;
	text-align: center;
}
#account-menu ul li, #doc-menu ul li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
#manage-user-link:before,
#manage-menu ul li:before,
#manage-config-menu ul li:before,
#summary-menu ul li:before,
#summary-submenu ul li:before,
#account-menu ul li:before,
#doc-menu ul li:before,
#admin-menu ul li:before,
span.permalink:before,
span.switch-view:before {
	content: "[";
}
#manage-user-link:after,
#manage-menu ul li:after,
#manage-config-menu ul li:after,
#summary-menu ul li:after,
#summary-submenu ul li:after,
#account-menu ul li:after,
#doc-menu ul li:after,
#admin-menu ul li:after,
span.permalink:after,
span.switch-view:after {
	content: "]";
}
#content {
	clear: both;
	margin: 0;
	padding: .5em;
	position: relative;
	top: 0;
}
.recently-visited {
	font-size: x-small;
	position: relative;
	text-align: right;
}
br {
	clear: both;
}
.field-default {
	color: #999;
}
td.menu {
	background-color: #e8e8e8;
	color: #000000;
	padding: 5px;
	text-align: center;
	width: 100%;
}
td.menu a {
	white-space: nowrap;
}
td.news-heading-public {
	border-bottom: 1px solid #000000;
	color: #000000;
	text-align: left;
}
td.news-heading-private {
	background-color: #d8d8d8;
	border-bottom: 1px solid #000000;
	color: #000000;
	text-align: left;
}
td.news-body {
	background-color: #ffffff;
	color: #000000;
	padding: 16px;
}
div#news-items {
	clear: both;
}
div.news-item {
	border: 1px solid #000;
	margin: 2em auto;
	padding: 0em;
	width: 75%;
}
div#news-items div:first-child {
	margin-top: 3em;
}
h3.news-heading-public {
	border-bottom: 1px solid #000000;
	color: #000000;
	margin: 0em;
	padding: .25em;
	text-align: left;
}
h3.news-heading-private {
	background-color: #d8d8d8;
	border-bottom: 1px solid #000000;
	color: #000000;
	margin: 0em;
	padding: .25em;
	text-align: left;
}
p.news-body {
	background-color: #ffffff;
	color: #000000;
	margin: 0em;
	padding: 1em;
}
.news-date-posted {
	font-size: .8em;
	font-style: italic;
	font-weight: normal;
}
.news-author {
	font-weight: normal;
}
.news-announcement, .news-private {
	font-size: .7em;
	font-weight: normal;
}
.news-title:after, .news-date-posted:after, .news-headline:after {
	content: ' - ';
	font-weight: normal;
}
.news-announcement:before, .news-private:before {
	content: '[';
	font-weight: normal;
}
.news-announcement:after, .news-private:after {
	content: ']';
	font-weight: normal;
}
#news-menu {
	clear: both;
	margin: 0em auto;
	text-align: center;
	width: 75%;
}
.news-headline {
	font-weight: bold;
}
img {
}
img.icon {
	height: 11px;
	width: 11px;
}
img.delete-icon {
	border: 0;
	position: relative;
	top: 5px;
}
div {
	padding: 3px;
}
div.menu {
	background-color: #e8e8e8;
	color: #000000;
	padding: 1px;
	text-align: center;
	width: 100%;
}
div.center {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
div.border {
	background-color: #ffffff;
	border: solid 1px #000000;
	position: relative;
	text-align: center;
}
div.quick-summary-left {
	float: left;
	padding: 2px;
	text-align: left;
	width: 49%;
}
div.quick-summary-right {
	float: right;
	padding: 2px;
	text-align: right;
	width: 49%;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.floatright {
	float: right;
}
.floatleft {
	float: left;
}
.small {
	font-size: 8pt;
}
.small-normal {
	font-size: 8pt;
	font-weight: normal;
}
.small-subprojects {
	font-size: 8pt;
	width: 200px;
}
.bold {
	font-weight: bold;
}
.bold-small {
	font-size: 8pt;
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.italic-small {
	font-size: 8pt;
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
.underline-small {
	font-size: 8pt;
	text-decoration: underline;
}
.strike {
	text-decoration: line-through;
}
.strike-small {
	font-size: 8pt;
	text-decoration: line-through;
}
.hidden {
	display: none;
}
.nowrap {
	white-space: nowrap;
}
.positive {
	color: green;
}
.negative {
	color: red;
}
.issue-status {
	border-bottom: 1px dotted black;
}
.avatar {
	border: 0;
	border-radius: 5px;
	float: left;
	margin-right: 3px;
}
.progress400 {
	border: 1px solid #d7d7d7;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1px;
	position: relative;
	width: 400px;
}
.progress400 .bar {
	background: #6bba70;
	color: #333;
	display: block;
	font-weight: normal;
	height: 2em;
	line-height: 2em;
	position: relative;
	text-align: center;
}
#footer {
	clear: both;
	font-size: 8pt;
	margin-top: 2em;
}
#footer #powered-by-mantisbt-logo {
	float: right;
}
#footer address {
	font-style: normal;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
#footer #user-copyright {
	font-size: 9pt;
}
#footer #log-event-list .duplicate-query {
	color: red;
}
td.tainted {
	color: red;
}
td.tainted input[type="text"], td.tainted select {
	background-color: #ffffff;
	border: 1px solid red;
	color: red;
}
select.tainted {
	background-color: #ffffff;
	color: red;
}
#filter_open, #filter_closed {
	border: 1px solid #000;
	margin: 0;
	padding: 0;
	position: relative;
}
#filter_open_link, #filter_closed_link {
	float: left;
	margin: 0;
	padding: 0 .5em;
	position: relative;
	top: 0.5em;
}
.search-box {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}
.filter-links, .manage-queries, .reset-query, .save-query, .search-box, .stored-queries, .submit-query {
	top: .3em;
}
.submit-query, .save-query {
	float: left;
	font-size: 1em;
	margin: 0;
	padding: 0 .5em;
	position: relative;
}
.filter-links, .stored-queries, .manage-queries, .reset-query {
	float: right;
	margin: 0;
	padding: 0 .5em;
	position: relative;
	z-index: 100;
}
.save-query {
	float: right;
}
.filter-box {
	font-size: .9em;
	margin: 0;
	padding: 0;
}
.filter-box table {
	margin: 0;
	padding: 0;
}
div#save-filter {
	text-align: center;
}
.stored-queries select {
	font-size: .9em;
}
#error-msg {
	clear: both;
}
.error-msg {
	color: red;
	text-align: center;
}
div#error-msg {
	border: 1px solid #000;
	margin: 0em auto;
	width: 60%;
}
div.error-type {
	font-weight: bold;
}
div.error-description {
	color: red;
	margin: 1.5em;
	text-align: center;
}
div.error-info {
	margin: 1em;
	text-align: center;
}
.bug-attachments {
	margin: 0;
	padding: 0;
}
.bug-attachments > ul {
	list-style: none;
	margin: 0.5em;
	padding: 0;
}
.bug-attachments > ul > li {
	margin: 0.5em 0;
	padding: 0;
}
.bug-attachments > ul > li > div {
	margin: 0;
	padding: 0;
}
.bug-attachment-preview-text, .bug-attachment-preview-image {
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	margin: 1em;
	padding: 1em;
}
#dates label[for=start_date], #dates > label[for=end_date] {
	float: left;
	width: 3em;
}
.myview-left-col, .myview-right-col {
	vertical-align: top;
	width: 50%;
}
.myview_boxes_area {
	width: 60%;
}
#manage-overview-table th {
	width: 30%;
}
#action-group-issues-div,
div.section-container,
div.form-container,
div.table-container {
	border: 1px solid #000;
	clear: both;
	margin: 2em auto 0em auto;
	min-width: 50em;
	padding: 1px;
	position: relative;
	width: 90%;
}
div.width100 {
	width: 100%;
}
div.width90 {
	width: 90%;
}
div.width75 {
	width: 74%;
}
div.width60 {
	width: 60%;
}
div.width50 {
	width: 50%;
}
#view-issue-details,
#bug-update,
#bugnote_add_open,
#history_open {
	margin: 3px;
	width: 100%;
}
#history_open table {
	border-spacing: 0;
}
#bug-change-status-div,
#action-group-div {
	width: 75%;
}
#action-group-issues-div {
	margin: 0 auto;
	width: 75%;
}
#manage-user-div {
	min-width: 57em;
}
div.section-container h2,
div.form-container h2,
div.table-container h2 {
	background-color: #fff;
	color: #000;
	float: left;
	font-size: 1em;
	font-weight: bold;
	margin: 0em;
	padding: .5em;
	text-align: left;
}
div.section-container table,
div.form-container table,
div.table-container table,
#action-group-issues-div table {
	border-spacing: 1px;
	width: 100%;
}
div.section-container table th,
div.form-container table th,
div.table-container table th {
	text-align: left;
}
div#reauth-div,
div#login-div,
div#lost-password-div,
div#signup-div,
div#select-project-div {
	max-width: 850px;
	width: 65%;
}
div#adm-config-div {
	display: table;
	max-width: 95%;
}
p#adm-config-value {
	max-width: 400px;
	word-wrap: break-word;
}
pre#adm-config-value {
	max-width: 400px;
	overflow: auto;
}
div#project-delete-div {
	text-align: center;
}
fieldset {
	border: none;
	margin: 0em;
	padding: 0em;
}
.action-buttons {
	clear: both;
}
.action-button fieldset {
	display: inline;
}
div.form-container fieldset {
	border: none;
	clear: both;
	margin: 0em;
	padding: 0em;
}
div#form-container fieldset fieldset {
	margin: 0em 0em 1px 0em;
}
div.form-container fieldset legend {
	border: none;
	float: left;
	font-weight: bold;
	margin: 0em;
	padding: .5em .15em;
	text-indent: .5em;
}
div.form-container fieldset label.required:before {
	color: red;
	content: '* ';
	font-size: 8pt;
}
.pager-links {
	font-size: 8pt;
	font-weight: normal;
	text-align: right;
}
.section-link {
	float: right;
	padding: .5em;
}
fieldset > .field-container:nth-child(odd),
form > table > tr:nth-child(odd),
div.table-container > table > tbody > tr:nth-child(odd),
div.table-container > table > tr:nth-child(odd),
div.summary-container > table > tbody > tr:nth-child(odd),
div.form-container > form > table > tbody > tr:nth-child(odd),
div.form-container > form > fieldset > table > tbody > tr:nth-child(odd),
div.form-container > table > tbody > tr:nth-child(odd),
div.form-container > table > tr:nth-child(odd),
div.form-container div.field-container:nth-child(odd),
div.section-container div.field-container:nth-child(odd),
table#manage-overview-table > tr:nth-child(odd) {
	background-color: #e8e8e8;
}
fieldset > .field-container:nth-child(even),
form > table > tr:nth-child(even),
table#manage-overview-table > tr:nth-child(even),
div.table-container > table > tbody > tr:nth-child(even),
div.table-container > table > tr:nth-child(even),
div.summary-container > table > tbody > tr:nth-child(even),
div.form-container > form > table > tbody > tr:nth-child(even),
div.form-container > form > fieldset > table > tbody > tr:nth-child(even),
div.form-container > table > tbody > tr:nth-child(even),
div.form-container div.field-container:nth-child(even),
div.section-container div.field-container:nth-child(even),
div.form-container > table > tr:nth-child(even),
#custom-field-link-project {
	background-color: #d8d8d8;
}
form > table > tr:last-child,
div.table-container > table > tbody > tr > td.buttons,
div.table-container > table > tbody > tr > td.right {
	background-color: white;
}
fieldset fieldset.field-container,
div.field-container {
	display: block;
	float: left;
	margin: 0em 0em 1px 0em;
	padding: 0em;
	position: relative;
	width: 100%;
}
.field-container>.display-label,
div.form-container .field-container>label,
div.form-container fieldset fieldset legend {
	float: left;
	font-weight: bold;
	margin: 0em;
	padding: .5em;
	position: relative;
	text-indent: 0em;
	white-space: normal;
	z-index: 9999;
}
.field-container>label span.help-text {
	clear: both;
	display: block;
	font-size: .8em;
	font-weight: normal;
}
div.form-container .field-container>label span.help-text:before {
	content: '(';
}
div.form-container .field-container>label span.help-text:after {
	content: ')';
}
div#news-edit-div fieldset fieldset>label,
div#account-prefs-update-div fieldset fieldset>label {
	font-weight: normal;
	width: auto;
}
div#manage-user-actions-div {
	text-align: center;
}
#manage-user-filter,
#manage-project-subproject-add-form,
#manage-project-category-copy-form,
#manage-project-version-copy-form,
#manage-project-custom-field-copy-form,
#manage-project-users-copy-form {
	float: right;
}
fieldset fieldset legend label {
	z-index: 9999;
}
div.form-container .radio,
div.form-container .checkbox,
div.form-container .select,
div.form-container .textarea,
div.form-container .input,
div.form-container .file,
.display-value {
	float: left;
	margin: 0em .5em;
	padding: .25em;
	position: relative;
}
div.form-container .radio input,
div.form-container .checkbox input,
div.form-container .select select,
div.form-container .textarea textarea,
div.form-container .input input,
div.form-container .file input,
.display-value span {
	max-width: 98%;
}
div.form-container .spacer {
	clear: both;
	margin-top: .5em;
}
.label-style {
	border-right: 1px solid #fff;
	height: 100%;
	left: 0em;
	margin: 0em;
	padding: 0em;
	position: absolute;
	top: 0em;
	z-index: 0;
}
.section-links,
div.form-container .submit-button {
	clear: both;
	display: block;
	padding: .5em;
	text-align: center;
}
.label-style {
	width: 31%;
}
div.form-container label,
.display-label,
#account-prefs-update-div legend {
	width: 30%;
}
div.form-container .textarea,
div.form-container .input,
.display-value {
	width: 65%;
}
div.success-msg,
div.failure-msg,
div.important-msg {
	display: block;
	margin: 2em auto;
	width: 60%;
}
div.success-msg,
div.failure-msg {
	text-align: center;
}
div.important-msg {
	background-color: #fceded;
	border: 1px solid red;
	color: red;
}
div.important-msg ul, .success-msg, .failure-msg {
	margin: 0em;
	padding: 2em 2em 2em 4em;
}
div.important-msg ul li {
	background-color: #fceded;
	margin-left: 2em;
}
div.confirm-msg {
	border-bottom: 2px solid gray;
	border-top: 2px solid gray;
	margin: 2em auto;
	width: 60%;
}
ul.project-list {
	list-style: none;
	margin: .5em 0em 2em 0em;
	padding: 0em .5em;
}
ul.project-list li {
	clear: both;
	line-height: 1.25em;
	margin: 0em;
	min-width: 30em;
}
ul.project-list li span.access-level:before {
	content: ' [';
}
ul.project-list li span.access-level:after {
	content: '] ';
}
ul.project-list li span.view-state:before {
	content: ' (';
}
ul.project-list li span.view-state:after {
	content: ') ';
}
ul.project-list li span.project-name {
	display: block;
	float: left;
	min-width: 15em;
}
ul.project-list li span.access-level, ul.project-list li span.view-state {
	display: block;
	float: left;
	margin: 0em .25em;
}
.tag-list td span.tag-filter:before {
	content: ' [';
	padding: 0em .5em;
}
.tag-list td span.tag-filter:after {
	content: '] ';
	padding: 0em .5em;
}
.tag-link {
	margin: 0em .5em;
}
tr.bugnote-private td.bugnote-meta {
	background-color: #e8e8e8;
}
div#mantis.centered_page div#banner {
	text-align: center;
}
span.dependency_dated {
	color: maroon;
}
span.dependency_met {
	color: green;
}
span.dependency_unmet {
	color: red;
}
span.dependency_upgrade {
	color: orange;
}
div.summary-container {
	padding: 1px;
	position: relative;
	width: 49.5%;
}
div.summary-container table {
	border: solid 1px #000000;
	border-spacing: 1px;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
}
div#summary {
	padding: 0 4px;
	width: 100%;
}
div#summary-left {
	float: left;
}
div#summary-right {
	float: right;
}
div#summary-bottom {
	clear: both;
	width: 99.8%;
}
div.timeline {
	border: solid 1px #000000;
	float: right;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 3px 20px 15px 20px;
	width: 34%;
}
div.timeline div {
	padding: 0;
}
div.timeline .heading {
	font-size: x-large;
	padding-bottom: 3px;
	padding-top: 3px;
}
div.timeline .date-range {
	font-size: small;
}
div.timeline div.entry {
	padding-top: 15px;
}
div.timeline * div {
	overflow: hidden;
}
div.timeline * span.tag_name a {
	background-color: green;
	border-radius: 5px;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}
div.timeline * span.username {
	font-weight: bold;
}
div.timeline p {
	margin-bottom: 3px;
}
div.timeline div.no-avatar {
	display: none;
}
div.timeline div.avatar {
	float: left;
	margin-right: 13px;
	padding-top: 2px;
}
div.timeline * img.avatar {
	float: left;
	margin-right: 0;
}
div.timeline * div.timestamp {
	color: gray;
	font-size: x-small;
}
div.timeline * div.action {
	padding-top: 3px;
}
.color-global {
	background-color: LightBlue;
}
.color-project {
	background-color: LightGreen;
}
.details-footer {
	padding: 3px 10px 2px 0;
}
.details-buttons {
	float: left;
	width: auto;
}